@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", sans-serif;
   scroll-behavior: smooth ;

}

:root{
    --bgOrange: #e84949;
} 

#wrapper
{
    
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.container
{
    width: 1200px;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: hidden;
}

.navbar{
    
   
    /* navbar contain in one line  */
    display: flex; 
    /* adjust space between them */
    justify-content: space-between;
    /* vertically center */
    align-items: center;
    padding-top: 1rem;
}

.logo-container
{
    display: flex;
    justify-content: baseline;
    align-items: center;
    
}

.logo{
    width: 80px;
}

.logo-text{
    margin-left: -1.2rem;
    font-size: 28px;
}

.nav-item{
    display: flex;
    /* for spacing between    */
    gap: 2rem;
    
}

.nav-item div{
    font-size: 20px;
    font-weight: 450;
    cursor: pointer;

}
.nav-item div a{
    color: black;
}
.nav-item div:hover{
    transition: 1s;
    font-weight: bold;
}
a{
    text-decoration: none;
}

.hero-section{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

    gap: 5rem;
    margin: 3rem auto;
    padding: 0 1rem;
    padding-bottom: 8rem;
}

.faded-text{
    user-select: none;
    font-size: 7em;
    color: rgba(231,231,231);
    z-index: -1;
    bottom: -15%;
    left: 0%;
    font-weight: bold;
    transition: all 3s;
}

.hero-section-left{
    display: flex;
   flex-direction: column ;
   justify-content: center;
   gap: 0.8rem;
}
.hero-section-heading{
    user-select: none;
    font-size: 35px;
    color: #343d68;
    font-weight: 500;

}

.hero-section-sub-heading{
    user-select: none;
    font-size: 45px;
    line-height: 45px;
}

.hero-section-description{
    margin-top: 1rem;
    width: 70%;
    font-weight: 500;
}

.btn-pink{
background-color: var(--bgOrange);
width: fit-content;
color: white;
padding: 0.8rem 2.3rem;
box-shadow: 5px 5px 7px 0px #0000003f;
font-size: 18px;
cursor: pointer;
transition: all 0.5s;
font-weight: 500;
border: solid 3px transparent;
position: relative;
z-index: 1;
}

.btn-pink::before{
content: "";
position: absolute;
background-color: #fff;
top: 0px;
left: 0;
right: 0;
bottom: 0px;
z-index: -1;
transform: scaleX(0);
transform-origin: left;
transition: all 0.8s;
}

.btn-pink:hover::before{
    transform: scaleX(1);
}

.btn-pink:hover{
    border: solid 3px var(--bgOrange);
    color: black;
}
#btn-bottom
{
    display: none;
}

.role
{
    color: rgb(54, 31, 168);
    font-weight: 900;
}

.hero-section-right
{
position: relative;
}

.absolute{
    position:absolute;
}

.user-image{
    padding: 2.5rem;
    filter: grayscale(1);
    transition: all 1s;
    animation: scaleImage 5s linear infinite;
}

.user-img-class{
    
    width: 300px;
    z-index: -12;
}

@keyframes scaleImage {

0%{
   
    transform: scale(1);
    filter: grayscale(0);
}   

50%{
    filter: grayscale(1);
    transform: scale(1.1);
    box-shadow: 3px 3px 10px black;
}

100%{
    filter: grayscale(0);
    transform: scale(1);
    
}
}

.icon-dots{
    z-index: 12;
    bottom: -1rem;
    right: 0;
    animation-name: dotsAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes dotsAnimation {

    0%{
        transform: translate(0px);
    }
    50%{
        transform: translate(-15px);
    }
    100%{
        transform: translate(0px);
    }
    
}

.icon-cube {
    /* left: 0; */
    z-index: 12;
    right: 1.2em;
    animation-name: cubeRotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}


@keyframes cubeRotate {

    0%{
        transform: rotateZ(0deg) translateY(0px);
    }
    50%{
        transform: rotateZ(180deg) translateY(-12px);
    }
    100%{
        transform: rotateZ(360deg) translateY(0px);
    }
    
}

.icon-plus{
    left: 50%;
    top: -0.8rem;
    z-index: 12;
    animation-name: 
    animationPlus;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    
}

@keyframes animationPlus {
    
    50%{
        top:3%;
        left: 40%;
    }
    
}

.icon-circle{
    z-index: 12;
    bottom: 0;
    left: 0;
    animation-name: animateCircle;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-timing-function:linear;
}

@keyframes animateCircle {
    0%{
        scale: 1;
       left: 0;
       bottom: 0;
    }
    50%{
        scale: 2;
        left: 5%;
        bottom: 7%;
    }
    100%{
        scale: 1;
        left: 0;
       bottom: 0;
    }
}

.icon-zigzags
{
    top: 1.5em;
    left: -0.3em;
    z-index: 12;
    animation : animateZigzags 5s ease-in infinite;

}

@keyframes animateZigzags {
    50%{
        top: 2%;
        left: 5%;
    }
    
}

.project-section{
        background-color: rgb(231, 231, 231);
        padding-bottom: 50px;
}
.page-header{
    user-select: none;
    color: var(--bgOrange);
    padding-top: 30px;
    text-align: center;
    font-size: 90px;
}

.project-container{
    max-width: 1100px;
    /* it make center */
    margin: 0 auto;
    padding: 3rem 0;

    display: flex;
    flex-direction: column;
    gap: 120px;

}

.project-card{
    position: relative;
    width: 90%;
    height: 550px;
    background-image: url(/Asset/project.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 40px #1f1f1f57 ;

}

.project-card::after{
    content: "";
    position: absolute; 
    /* it will take alll the size of project card for tilled effect */
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #1f1f1fb1;
    z-index: 0;
    /* transform: scaleX(1); */
}

.project-card::before{
    content: "";
    position: absolute;
    /* it will take alll the size of project card for tilled effect */
    left: 0;
    right: 0;
    top: 0; 
    bottom: 0;
  
    background: linear-gradient(45deg, #343d68, #343d68be, #343d687c);
    /* hover karne ke bad hi dikhe eske liye */
    transform: scaleX(0);
    /* mouse hover hone ke bad colour left se right jayega */
    transform-origin: left;
    transition: all 0.4s;
    z-index: 1;
}

.project-card:hover::before{
    /* before me kya change honge */
    transform: scaleX(1);
}
.project-number{
    color: rgba(255, 255, 255, 0.632);
    /* image chya var number  */
    position: absolute;
    font-size: 180px;
    font-weight: 300px;
    z-index: 2;
    display: none;
    transition: all 0.4s;
}
.project-card:hover .project-number
{
    display: block;

}

.project-number-right{
    right: 0;
    top: -30px;
}

.project-number-left{
    left: 0;
    top: -30px;
}

.project-content{
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(0.9);
    position: absolute;
    display: flex;
    /* it will be display one by another */
    flex-direction: column;
    color: white;
    padding: 2em;
    bottom: 20%;
    gap: 1em;
    z-index: 5;
    transition: all 0.4s;

 }

 .project-skill-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding-bottom: 20px;
 }

.project-skill{
    width: 40px;
}
.project-card:hover .project-content{
    transform: scale(1);
    
    display: block;
}
 .project-content-left{
    left: 10%;
    width: 45%;

 }
 .project-content-right{
    right: 10%;
    width: 45%;
 }

 .project-card-right{
    right: -10%;
 }
 .project-heading{
    user-select: none;
    font-size: 50px;
    font-weight: bold;
    line-height: 3rem;
 }

 .project-subHeading{
    user-select: none;
    font-size: 16px;
    font-style: italic;
 }

.btn-group
{
    display:flex ;
    gap:0.9rem;
    align-items: center;
    padding-top: 20px;
}

.btn-project:hover{
    border: none;
}

.icon{
    cursor: pointer;
    color: white;
    font-size: 35px;
   transition: all 0.5s;
  
}

.icon:hover{
    color: var(--bgOrange);

}

#project1{
    background-image: url(Asset/project1.jpg);
}

#project2{
    background-image: url(Asset/project2.jpg);
}

#project3{
    background-image: url(Asset/project3.jpg);
}

#project4{
    background-image: url(Asset/project4.jpg);
}

/* ## SKILLS SECTION */
.skills-container{
    padding-top: 15rem;
    position: relative;
    display: flex;
    margin: 0rem auto;
    gap: 30px;
    padding-bottom:5rem;
     
}
.skills-container-faded-text{
    position: absolute;
    user-select: none;
    font-style: bold;
    font-size: 10em;
    z-index: -1;
    color: rgba(231,231,231);
    right: 0;
    top: -7%;
    font-weight: bold;
    transition: all 3s;

}
.skills-heading{
    user-select: none;
     user-select: none;
    font-size: 40px;
    position: relative;
    z-index: -9;
    color: var(--bgOrange);
    line-height: 50px;
}
.skills-heading span{
    user-select: none;
    font-size: 55px;
    font-weight: bold;
}
.skills-container-left{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.skills-container-description {
    width: 85%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.skills-container-right{
    
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    gap: 2rem;
}

.skills-logo{
    user-select: none;
    flex-wrap: wrap;
    gap:20px;
    width: 80px;
    transition: all 0.4s;
}

.skills-logo:hover {
    scale: 1.2;
}


.blob-style{
    /* width: 15em; */
    z-index: -1;
    position: absolute;
    top: 15%;
    left: 5%;
    animation: bolbAnimate 3s linear infinite ;
}

@keyframes bolbAnimate{
    50%{
        top: 15%;
        left: 38%;
    }
}

.contact-form-section{
    width: 100%;
    background-color: rgb(231, 231, 231);
}

.contact-form-heading{
    user-select: none;
    font-size: 5em;
    color: var(--bgOrange);
    padding-top: 2rem;
}

.contact-form-sub-heading
{   user-select: none;
    font-size: 3rem;
    color: #343dc68a;
    text-transform: capitalize;
}

.contact-form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 70%;
    margin: 2rem 5rem;
}

.fromfiled-container{
    width: 100%;
}

.formfiled{
  width: 100%;
  height: 42px;
  padding: 0 2rem;
  font-size: 18px;
  border-radius: 5px;
  box-shadow: 5px 5px 7px 0px #00000085;
  border: none;
  margin-top: 17px;

}

.formfiled-textarea{
    height: auto;
    padding-top: 1rem;
}

#submit-btn{
    border: none;
    font-size: 1.2rem;
    margin: 2.5rem 0;
}
#submit-btn:hover{
    scale: 0.9;
}
#submit-btn i{
    padding-left: 8px;
}

/* ## FOOTER section */

.footer-warpper{
   display: flex;
   gap: 1rem;
   align-items: center;
   padding: 1.2rem;
   justify-content: space-between;
}

footer{
    color: white;
    position: relative ;
    margin-top: -1px;
    padding: 5em;
    background-color: #343d68;
}

.footer-faded-text{
    color: #535c87;
    user-select: none;
    font-size: 5rem;
    bottom: 0;
    left: 0;
    position: absolute;
}

.link-warpper {
    display: flex;
    gap: 1.2rem;

}

.link-warpper a{
    color: white;
    text-decoration: none;
    transition: all 0.4s;
}

.link-warpper div a:hover{
    color: var(--bgOrange);
    text-decoration: none;
    
}

.icon-wrapper {
   display: flex;
   gap: 1rem;
    
}


/* ###### Tablet Screen  */

@media(max-width:1300px)
{  .btn-pink{
    margin-top: 10px;
    margin:0 auto;
    display:block;
}
    .container{
        justify-content: center;
        padding: 30px;
        width: 100%;
    }
    .hero-section{
        display: flex;
        flex-direction: column ;
        justify-content: center;
        text-align: center;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
       
    }
    .hero-section-description{
        padding-top: 30px;
        width: 60%;
        margin:0 auto;
        display:block;
       /* margin-left: 22%; */
        
    } 
    .hero-section-right{
        margin: 0;
    }
    
    .page-header{
        padding-top: 30px;
        color: var(--bgOrange);
        text-align: center;
        font-size: 50px;
    }
    
    .project-container{
        padding: 5px;
        margin: 10px;
        gap: 60px;
        align-items: center;
       
    }
    .project-card{
       
        width: 90%;
        background-size: cover;
        background-position: center;
    }
    .project-content{
        scale: 1;
        left: 0;
    }
    .project-content-left {
        left: 0;
    }
    .project-heading{
        font-size: 40px;
        width: 100%;
    }
    .project-subHeading{
        user-select: none;
        width: 100%;
    }
    .faded-text{
        bottom: -12%;
    }
   
    #project2{
        left: 0;
        margin-left: 0;
    }
    #project4{
        left: 0;
        margin-left: 0;
    }
}

@media(max-width:430px)
{
    .container{
        margin: 0;
        width: 100%;
        align-items: center;
    }
    .nav-item{
        display: none;
    }
    .logo{
        width: 70px;
    }        
    
    .logo-text
    {   margin-left: -15px;
        font-size: 18px;
    }
    .hero-section-head-text{
        padding: 0;
        font-size: 20px

    }
    .hero-section-sub-heading{
        padding: 0;
        font-size: 22px;
        margin: 0;
    }
    .hero-section-description{
        padding: 0;
        margin: 0;
        width: 100%;
    }
    #btn{
        font-size: 14px;
        padding: 4px 8px 4px 8px;
    }
    .user-image {
        margin: 0;
        padding: 0;
        /* width: 300px; */
    }
    .user-image img{
        /* width: 230px; */
    }
}